---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: stateful-example
  name: {{ volumeClaimName }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: gp2
  volumeName: {{ volumeName }}